<div style="margin: 20px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lista de Elementos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nuevo Elemento</mat-label>
          <input
            matInput
            [(ngModel)]="newItem"
            placeholder="Escribe algo..."
            (keyup)="handleKeyUp($event)">
        </mat-form-field>
        <button mat-raised-button (click)="addItem()">Agregar</button>
      </div>
      <!-- Botón para expandir o colapsar -->
      <button mat-raised-button (click)="toggleExpand()">
        {{ isExpanded ? 'Colapsar Lista' : 'Expandir Lista' }}
      </button>


      <div [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'">
        <mat-list>
          <mat-list-item *ngFor="let item of items">{{ item }}</mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
